body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background: #F4F4F4;

}
.header {
    margin: 0;
    padding:10px 0px 30px 0px;
    background: #6943FF;
}
.title {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.header-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}
textarea {
    background-color: transparent;
    overflow: hidden;
    resize: none;
    outline: none;
    align-self: center;
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 800;
    font-size: 58px;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 150px;
    text-align: center;
    box-sizing: border-box
}
button {
    align-self: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    padding: 10px 25px;
}
.dimension {
    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 8px 0px;
    
}
.main {
    margin-top: 50px;
}
.title-main {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #5A537B;
}
textarea::placeholder {
    font-size: 10px;
    color: white;
  }
  .txt {
    font-size: 14px;
  }